{% extends 'base.html' %}
{% load kpi_tags %}

{% block content %}

{% if user.is_authenticated %}
  <form method="post">
    {% csrf_token %}

    {% for criterion in criteria %}
        <div class="card">
            <div class="card-header">
                <h4>{{ criterion.name }}</h4>
            </div>

            {% for indicator in criterion.indicator_set.all %}
                <div class="card-body">
                    <h5 class="card-title">{{ indicator.name }}</h5>

                    <ul class="list-group">
                        {% for category in indicator.category.all %}
                        <li class="list-group-item">{{ category.name }}: <b>{{ category.point }}</b></li>
                        {% endfor %}
                    </ul>

                    {% with forms_dict=forms|get_item:indicator %}
                        {% with form_1=forms_dict|get_item:'form_1' form_2=forms_dict|get_item:'form_2' %}
                        {% if form_1.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_1.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            {% if form_1.point.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_1.point.errors }}
                            </div>
                            {% endif %}
                            <label for="{{ form_1.point.id_for_label }}">Ваш предыдущий балл:</label>
                            {{ form_1.point }}
                        </div>

                        <div class="form-group">
                            {% if form_2.students_all.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_2.students_all.errors }}
                            </div>
                            {% endif %}
                            <label for="{{ form_2.students_all.id_for_label }}">Всего воспитанников:</label>
                            {{ form_2.students_all }}
                        </div>

                        <div class="form-group">
                            {% if form_2.students_ok.errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ form_2.students_ok.errors }}
                            </div>
                            {% endif %}
                            <label for="{{ form_2.students_1.id_for_label }}">Кол-во воспитанников подходящих к показателю:</label>
                            {{ form_2.students_ok }}
                        </div>

                        {% if form_1.text.value %}
                        <div class="form-group">
                            {% if form_1.text.errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ form_1.text.errors }}
                            </div>
                            {% endif %}
                            <label for="{{ form_1.text.id_for_label }}">Ваш предыдущий ответ:</label>
                            {{ form_1.text }}
                        </div>
                        {% endif %}

                        {% endwith %}
                    {% endwith %}

                </div>
            {% endfor %}
        </div>
        <br>
    {% endfor %}

    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
  </form>

{% else %}

    {% for criterion in criteria %}
        <div class="card">
            <div class="card-header">
                <h4>{{ criterion.name }}</h4>
            </div>

            {% for indicator in criterion.indicator_set.all %}
                <div class="card-body">
                    <h5 class="card-title">{{ indicator.name }}</h5>

                    {% for category in indicator.category.all %}
                        <ul class="list-group">
                            <li class="list-group-item">{{ category.name }}: <b>{{ category.point }}</b></li>
                        </ul>
                    {% endfor %}

                </div>
            {% endfor %}

        </div>
        <br>
    {% endfor %}

{% endif %}

{% endblock content %}